body{
    margin: 0em;
    background: linear-gradient(270deg, #ffcbf2, #f3c4fb, #ecbcfd, #e5b3fe, #e2afff, #deaaff, #d8bbff, #d0d1ff, #c8e7ff, #c0fdff);
    background-size: 2000% 2000%;

    -webkit-animation: KishaMulhallBackground 30s ease infinite;
    animation: KishaMulhallBackground 30s ease infinite;
}

@-webkit-keyframes KishaMulhallBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes KishaMulhallBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.barra{
    height: 100px;
    background-color: #d8bbff;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.logo{
    height: 100px;
    width: 100px;
    list-style: none;
}
.cuadro{
    height: 100px;
    width: 100px;
}
.links{
    width: 400px;
    display: flex;
    justify-content: space-evenly; 
}
.ig{
    height: 30px;
    width: 30px;
}
.fb{
    height: 30px;
    width: 30px;
}
.pinterest{
    height: 30px;
    width: 30px;
}
.gmail{
    height: 30px;
    width: 30px;
}
.titulo{
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
}
section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.tarjeta1{
    height: 500px;
    width: 300px;
    background-color: #d8bbff;
    font-family: 'Open Sans', sans-serif;
}
.jail{
    width: 300px;
    height: 300px;
}
.tarjeta2{
    height: 500px;
    width: 300px;
    background-color: #d8bbff;
    font-family: 'Open Sans', sans-serif;
}
.nathy{
    width: 300px;
    height: 300px;
}
.tarjeta3{
    height: 500px;
    width: 300px;
    background-color: #d8bbff;
    font-family: 'Open Sans', sans-serif;
}
.monster{
    width: 300px;
    height: 300px;
}
h2{
    margin: 0em;
}
p:hover{
    text-decoration-line: underline;
}
h2:hover{
    text-decoration-line: underline;
}
.tarjeta1:hover{
    border: 1px solid black;
}
.tarjeta2:hover{
    border: 1px solid black;
}
.tarjeta3:hover{
    border: 1px solid black;
}