body{
    background: linear-gradient(270deg, #ffcbf2, #f3c4fb, #ecbcfd, #e5b3fe, #e2afff, #deaaff, #d8bbff, #d0d1ff, #c8e7ff, #c0fdff);
    background-size: 2000% 2000%;

    -webkit-animation: KishaMulhallBackground 9s ease infinite;
    animation: KishaMulhallBackground 9s ease infinite;
}

@-webkit-keyframes KishaMulhallBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes KishaMulhallBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.barra{
    height: 100px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
      
}
.logo{
    height: 50px;
    width: 50px;
    list-style: none;
}
.cuadro{
    height: 50px;
    width: 50px;
}
.links{
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    
}
.ig{
    height: 50px;
    width: 50px;
}
.fb{
    height: 50px;
    width: 50px;
}
.pinterest{
    height: 50px;
    width: 50px;
}
.gmail{
    height: 50px;
    width: 50px;
}